# shellcheck disable=SC2148,SC2155,SC1091

#
# Obsidian Local REST API configuration
#
export API_KEY=$(cat .secrets/obsidian_local_rest_api_key)
#
# Set up Linux-specific aliases for project (WSL2 configuration)
#
if [[ "$(uname -s)" == "Linux" ]]; then
  # variable exusts only on WSL2 but not on Linux itself
  if [[ -n "$WSL_DISTRO_NAME" ]]; then
    #
    # Get the gateway IP for default route
    #
    export WSL_GATEWAY_IP=$(ip route show | grep -i default | awk '{ print $3}')
    #
    # Set API_HOST, point to Windows 11 host machine
    #
    export API_HOST="https://$WSL_GATEWAY_IP"
  fi
fi

#
# Keep it short, 1 sec
#
export SCR_INITIAL_DELAY_SECONDS=1
#
# Brave Search API key
#
export BRAVE_API_KEY=$(cat .secrets/brave_search_api_key)
#
# NPM Auth Token, https://github.com/settings/tokens
# Create 'classic' token with 'read:packages' scope
#
export NPM_TOKEN=$(cat .secrets/github_read_packages_token)

#
# Check write access and ownership for each directory
#
echo "Verify write access and ownership for Dockerized Obsidian directory:"
source "$(pwd)/dockerize/ci_verify_permissions.sh"
