# source code and distribution build
!src/
!dist/
dist/*.map

# project helpers
assets
.vscode
.secrets
.husky
.github
reports

# release artifacts
*.tgz
*.zip

# e2e testing is not included
docker-compose.yaml

# Dockerize
dockerize
Dockerfile
.dockerignore

# Quality Utils
.envrc
.knip.jsonc
.lintstagedrc.cjs
.npmignore
biome.jsonc
